In [1]:
import pandas as pd
import numpy as np

In [12]:
data = {
    "Name": ["John", "Peter", "Lisa"],
    "Age" : [25,28,31],
    "Salary" : [30000, 45000, 25000]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25   30000
1  Peter   28   45000
2   Lisa   31   25000

In [14]:
data = pd.read_csv("Items.csv")
print(data)

       name   price  quantity
0     Phone   100.0         1
1    Laptop  1000.0         3
2     Cable    10.0         5
3     Mouse    50.0         5
4  Keyboard    74.9         5