In [ ]:
#99DaysWithCPC - Machine Learning

# finding duplicate values with pandas

In [1]:
import pandas as pd
data = pd.read_csv("demo.csv")
print(data)

    EEID      name gender   salary
0  EEP01    ayushi      F      NaN
1  EEP02     rohit      M  25000.0
2  EEP03  pranjali    Nan  27000.0
3  EEP01    ayushi      F  20000.0
4  EEP05       Nan      M  25000.0
5  EEP06     rohit      M      NaN

In [10]:
print(data["EEID"].duplicated().sum())

1

In [14]:
print(data.drop_duplicates("name"))

    EEID      name gender   salary
0  EEP01    ayushi      F      NaN
1  EEP02     rohit      M  25000.0
2  EEP03  pranjali    Nan  27000.0
4  EEP05       Nan      M  25000.0